1) Import the data set you exported in Exercise 4.9 into a new Jupyter notebook. This should be the merged version of your data that contains the new customers column.

2) Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.

3) The Instacart officers are interested in comparing customer behavior in different geographic areas. Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers data set.
Use the region information in this Wikipedia article to create your column (you only need to create regions, not divisions).
Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)

4) The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

5) The marketing and business strategy units at Instacart want to create more-relevant marketing strategies for different products and are, thus, curious about customer profiling in their database. Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. You might also use the “orders_day_of_the_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles. (Hint: As an example, try thinking of what characteristics would lead you to the profile “Single adult” or “Young parent.”)

# -----Task-----

## Importing Libraries

In [5]:
# Importing libraries - will need visualizations for this task
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## Creating a path to the .pkl file

In [7]:
path = r'C:\Users\mmoss\20-12-2021 Instacart Basket Analysis'

## 1. Importing the .pkl file

In [8]:
df_data_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.9_data_merged.pkl'))

## 2. Considering any PII data in the dataset

In [4]:
# Printing the head() to see any potential PII data
df_data_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,spending_flag,first_name,surname,gender,state,age,date_joined,number_of_dependants,marital_status,income
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Low Spender,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Low Spender,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,False,196,1,1,...,Low Spender,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Low Spender,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,False,196,1,1,...,Low Spender,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

First name and Surname are columns that could be used to tie back to a person. Although these columns are PII I would advise against deleting them because they are used in quite a few analyses such as how often a customer purchases and could be used for marketing purposes or other purposes in the future.

Instead I'll create a new dataframe without these columns.

In [9]:
#Dropping the first_name and surname columns
df_data_merged_PII = df_data_merged.drop(['first_name', 'surname'], axis =1)

In [10]:
#Checking it
df_data_merged_PII.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,busiest_period_of_day,average_price,spending_flag,gender,state,age,date_joined,number_of_dependants,marital_status,income
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,False,196,1,1,...,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,False,196,1,1,...,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423
5,3367565,1,6,2,7,19.0,False,196,1,1,...,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423
6,550135,1,7,1,9,20.0,False,196,1,1,...,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423
7,3108588,1,8,1,14,14.0,False,196,2,1,...,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423
8,2295261,1,9,1,16,0.0,False,196,4,1,...,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423
9,2550362,1,10,4,8,30.0,False,196,1,1,...,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423

Success!

## 3A) Creating a Region column

In [11]:
# Creating regions
result = []

for value in df_data_merged_PII['state']:
    if (value == 'Maine') or (value == 'New Hampshire') or (value == 'Vermont') or (value == 'Massachusetts') or (value == 'Rhode Island') or (value == 'Connecticut') or (value == 'New York') or (value == 'Pennsylvania') or (value == 'New Jersey'):
        result.append("Northeast")
    elif (value == 'Wisconsin') or (value == 'Michigan') or (value == 'Illinois') or (value == 'Indiana') or (value == 'Ohio') or (value == 'North Dakota') or (value == 'South Dakota') or (value == 'Nebraska') or (value == 'Kansas') or (value == 'Minnesota') or (value == 'Iowa') or (value == 'Missouri'):
        result.append("Midwest")
    elif (value == 'Delaware') or (value == 'Maryland') or (value == 'District of Columbia') or (value == 'Virginia') or (value == 'West Virginia') or (value == 'North Carolina') or (value == 'South Carolina') or (value == 'Georgia') or (value == 'Florida') or (value == 'Kentucky') or (value == 'Tennessee') or (value == 'Mississippi') or (value == 'Alabama') or (value == 'Oklahoma') or (value == 'Texas') or (value == 'Arkansas') or (value == 'Louisiana'):
        result.append("South")
    else:
        result.append("West")

In [12]:
# Printing the result
result

['South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'Midwest',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'West',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 'South',
 ...]

In [13]:
# Creating new column and setting it equal to result
df_data_merged_PII['region'] = result

In [14]:
#Seeing how many states fall into each region
df_data_merged_PII['region'].value_counts(dropna = False)

South        10790096
West          8291679
Midwest       7596065
Northeast     5721892
Name: region, dtype: int64

10790096 + 8291679 + 7596065 + 5721892 = 32399732

In [15]:
df_data_merged_PII.shape

(32399732, 29)

These number of rows match!

In [16]:
# Testing it
df_data_merged_PII.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,average_price,spending_flag,gender,state,age,date_joined,number_of_dependants,marital_status,income,region
0,2539329,1,1,2,8,NaN,True,196,1,0,...,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
1,2398795,1,2,3,7,15.0,False,196,1,1,...,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
2,473747,1,3,3,12,21.0,False,196,1,1,...,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
3,2254736,1,4,4,7,29.0,False,196,1,1,...,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
4,431534,1,5,4,15,28.0,False,196,1,1,...,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
5,3367565,1,6,2,7,19.0,False,196,1,1,...,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
6,550135,1,7,1,9,20.0,False,196,1,1,...,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
7,3108588,1,8,1,14,14.0,False,196,2,1,...,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
8,2295261,1,9,1,16,0.0,False,196,4,1,...,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
9,2550362,1,10,4,8,30.0,False,196,1,1,...,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South

Success!

## B) Determining if there is a difference in spending between the U.S. regions

In [17]:
# Crosstabbing to see differences in spending in the different U.S. regions
crosstab = pd.crosstab(df_data_merged_PII['region'], df_data_merged_PII['spending_flag'], dropna = False)

In [18]:
# Copying the crosstab to the clipboard to send it into excel for stakeholders
crosstab.to_clipboard()

In [19]:
# Displaying the results
crosstab

spending_flag  High Spender  Low Spender
region
Midwest               29258      7566807
Northeast             18614      5703278
South                 40577     10749519
West                  31238      8260441

In [20]:
# Testing to make sure the spending flag is right
df_spendingtest = df_data_merged_PII[['average_price','spending_flag']]

In [21]:
df_spendingtest.head(20)

    average_price spending_flag
0        6.367797   Low Spender
1        6.367797   Low Spender
2        6.367797   Low Spender
3        6.367797   Low Spender
4        6.367797   Low Spender
5        6.367797   Low Spender
6        6.367797   Low Spender
7        6.367797   Low Spender
8        6.367797   Low Spender
9        6.367797   Low Spender
10       6.367797   Low Spender
11       6.367797   Low Spender
12       6.367797   Low Spender
13       6.367797   Low Spender
14       6.367797   Low Spender
15       6.367797   Low Spender
16       6.367797   Low Spender
17       6.367797   Low Spender
18       6.367797   Low Spender
19       6.367797   Low Spender

Success!

Midwest = (29,258 / 7,596,065) * 100 
Northeast  = (18614 / 5721892) * 100 
South = (40577 / 10790096) * 100
West = (31238 / 8,291679) * 100

In [22]:
Midwest = (29258/7596065) * 100

In [23]:
Midwest

0.3851731126576721

In [24]:
Northeast  = (18614 / 5721892) * 100

In [25]:
Northeast

0.32531197722711297

In [26]:
South = (40577 / 10790096) * 100

In [27]:
South

0.37605782191372533

In [28]:
West = (31238 / 8291679) * 100

In [29]:
West

0.3767391381166589

Not a huge difference in terms of highest % of high spenders. Midwest has the most high spenders compared to their total population but it is only by .01 of a percent. The northeast is the lowest with 0.33% of their spenders being high.

## 4. Making an exclusion flag for low-activity customers (customers with less than 5 orders)

In [30]:
# Set Jupyter to display all columns
pd.set_option("display.max_columns", None)

In [31]:
df_data_merged_PII.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_day_2,busiest_period_of_day,average_price,spending_flag,gender,state,age,date_joined,number_of_dependants,marital_status,income,region
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
5,3367565,1,6,2,7,19.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
6,550135,1,7,1,9,20.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
7,3108588,1,8,1,14,14.0,False,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
8,2295261,1,9,1,16,0.0,False,196,4,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South
9,2550362,1,10,4,8,30.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South

Need to create a max order column to be able to add the flag

In [32]:
# Creating the max_order column
df_data_merged_PII['max_order'] = df_data_merged_PII.groupby(['user_id'])['order_number'].transform(np.max)

In [33]:
# Testing it
df_data_merged_PII.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_day_2,busiest_period_of_day,average_price,spending_flag,gender,state,age,date_joined,number_of_dependants,marital_status,income,region,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10

Success!

In [34]:
# Creating a flag for low-activity customers <5 orders
df_data_merged_PII.loc[df_data_merged_PII['max_order'] <5, 'exclude_flag'] = 'Low Activity Customer'

In [35]:
# Creating a flag for  non low-activity customers >=5 orders
df_data_merged_PII.loc[df_data_merged_PII['max_order'] >=5, 'exclude_flag'] = 'Non-Low Activity Customer'

In [36]:
# Seeing how much of each customer there is
df_data_merged_PII['exclude_flag'].value_counts(dropna = False)

Non-Low Activity Customer    30959687
Low Activity Customer         1440045
Name: exclude_flag, dtype: int64

In [37]:
# Testing it
df_data_merged_PII.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_day_2,busiest_period_of_day,average_price,spending_flag,gender,state,age,date_joined,number_of_dependants,marital_status,income,region,max_order,exclude_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer

There's the column!

In [38]:
# Create a subset of the data with low-activity customers (orders under 5)
df_low_activity_customers = df_data_merged_PII[df_data_merged_PII['exclude_flag']=='Low Activity Customer']

In [39]:
# Check to see if orders are under 5 with max order
df_low_activity_customers['max_order'].value_counts()

4    753414
3    686620
2         6
1         5
Name: max_order, dtype: int64

In [40]:
# Create a subset of the data with non-low-activity customers (orders over 5)
df_non_low_activity_customers = df_data_merged_PII[df_data_merged_PII['exclude_flag']=='Non-Low Activity Customer']

In [41]:
# Check to see if orders are over 5 with max order
df_non_low_activity_customers['max_order'].value_counts().sort_index()

5      792979
6      811237
7      803838
8      811706
9      810057
       ...
95      59871
96      40449
97      44949
98      44585
99    1171076
Name: max_order, Length: 95, dtype: int64

In [42]:
# Export subset for low-activity customers
df_low_activity_customers.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_low_activity_customers.pkl'))

In [43]:
# Export subset for non-low-activity customers
df_non_low_activity_customers.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_non_low_activity_customers.pkl'))

## 5. The marketing and business strategy units at Instacart want to create more-relevant marketing strategies for different products and are, thus, curious about customer profiling in their database. Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. You might also use the “orders_day_of_the_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles. (Hint: As an example, try thinking of what characteristics would lead you to the profile “Single adult” or “Young parent.”)

Going to look at the relationship between certain products and certain customers to define marketing strategies and make them more successful. Going to profile based on age, then income, dependants and parent status.

## A) Age

In [44]:
#Need to check the age groups of customers
df_data_merged_PII['age'].value_counts().sort_index()

18    500400
19    519552
20    502795
21    512423
22    513779
       ...
77    502010
78    495211
79    529691
80    515165
81    509227
Name: age, Length: 64, dtype: int64

In [45]:
# Creating age group for loop that checks each row of the age column

age_group = []

for value in df_data_merged_PII['age']:
    if value <= 20:
        age_group.append('18-20')
    elif (value > 20) and (value <= 30):
        age_group.append('21-30')
    elif (value > 30) and (value <= 40):
        age_group.append('31-40')
    elif (value > 40) and (value <= 50):
        age_group.append('41-50')
    elif (value > 50) and (value <= 60):
        age_group.append('51-60')
    elif (value > 60) and (value <= 70):
        age_group.append('61-70')
    elif (value > 70) and (value <= 80):
        age_group.append('71-80')
    elif (value > 80) and (value <= 82):
        age_group.append('80+')    
    else:
        result.append('Not in age category')

In [46]:
# Create new age_group column in the dataframe
df_data_merged_PII['age_group'] = age_group

In [47]:
# Testing the results
df_data_merged_PII['age_group'].value_counts().sort_index()

18-20    1522747
21-30    5075528
31-40    5069934
41-50    5091358
51-60    5059004
61-70    5003868
71-80    5068066
80+       509227
Name: age_group, dtype: int64

## B) Income

In [48]:
# Checking the income ranges for customers
df_data_merged_PII['income'].value_counts().sort_index()

25903      20
25911      28
25937      39
25941      31
25955     392
         ...
584097    823
590790     52
591089    175
592409    313
593901    638
Name: income, Length: 108012, dtype: int64

In [49]:
# Setting this to a variable
customer_income = df_data_merged_PII['income'].value_counts().sort_index()

In [50]:
# Copying it to the clipboard
customer_income.to_clipboard()

In [51]:
# Creating income brackets that are based on current income tax brackets in the U.S. (if statements and for-loops for income)

income = []

for value in df_data_merged_PII['income']:
    if value <= 9950: 
        income.append('000000-009950')
        
    elif (value > 9950) and (value <= 40525):
        income.append('009950-040525')
        
    elif (value > 40525) and (value <= 86375):
        income.append('040525-086375')
        
    elif (value > 86375) and (value <= 164925):
        income.append('086375-164925')
        
    elif (value > 164925) and (value <= 209425):
        income.append('164925-209425')
        
    elif (value > 209425) and (value <= 523600):
        income.append('209425-523600') 
        
    elif (value > 523600):
        income.append('523600+')
        
    else: 
        income.append('other')

In [52]:
# Creating new column in the dataframe and setting it equal to income
df_data_merged_PII['income_range'] = income

In [53]:
#testing it
df_data_merged_PII['income_range'].value_counts().sort_index()

009950-040525     1811661
040525-086375    11195785
086375-164925    18142141
164925-209425     1008875
209425-523600      226851
523600+             14419
Name: income_range, dtype: int64

## C) Number of Dependants

In [54]:
# Checking the frequency of number of dependants
df_data_merged_PII['number_of_dependants'].value_counts().sort_index()

0    8096275
1    8079881
2    8089749
3    8133827
Name: number_of_dependants, dtype: int64

## D) Parental Status

In [55]:
# Deriving a new column based on dependents for non-parent and parent
df_data_merged_PII.loc[df_data_merged_PII['number_of_dependants'] == 0, 'parental_status'] = 'non-parent'
df_data_merged_PII.loc[df_data_merged_PII['number_of_dependants'] >= 1, 'parental_status'] = 'parent'

In [56]:
# Testing it
df_data_merged_PII['parental_status'].value_counts()

parent        24303457
non-parent     8096275
Name: parental_status, dtype: int64

## E) Certain goods in the department_id column

In [57]:
# Calling the df, displaying all columns
pd.set_option('display.max_columns', None)
df_data_merged_PII.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_day_2,busiest_period_of_day,average_price,spending_flag,gender,state,age,date_joined,number_of_dependants,marital_status,income,region,max_order,exclude_flag,age_group,income_range,parental_status
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
5,3367565,1,6,2,7,19.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
6,550135,1,7,1,9,20.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
7,3108588,1,8,1,14,14.0,False,196,2,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
8,2295261,1,9,1,16,0.0,False,196,4,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
9,2550362,1,10,4,8,30.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
10,2539329,1,1,2,8,NaN,True,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
11,2539329,1,1,2,8,NaN,True,12427,3,0,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
12,2398795,1,2,3,7,15.0,False,12427,3,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Slowest days,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
13,473747,1,3,3,12,21.0,False,12427,2,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Slowest days,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
14,2254736,1,4,4,7,29.0,False,12427,2,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Least busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
15,431534,1,5,4,15,28.0,False,12427,2,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Least busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
16,3367565,1,6,2,7,19.0,False,12427,2,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
17,550135,1,7,1,9,20.0,False,12427,3,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
18,3108588,1,8,1,14,14.0,False,12427,1,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent
19,2295261,1,9,1,16,0.0,False,12427,6,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Fewest orders,6.367797,Low Spender,Female,Alabama,31,2/17/2019,3,married,40423,South,10,Non-Low Activity Customer,31-40,009950-040525,parent

Let's see how many sales each product_id has got.

In [58]:
product_id_sales = df_data_merged_PII.groupby('product_id').agg({'prices': ['min','max','mean','sum']})

In [59]:
#Test it
product_id_sales.head()

           prices
              min   max  mean      sum
product_id
1             5.8   5.8   5.8  10741.6
2             9.3   9.3   9.3    837.0
3             4.5   4.5   4.5   1246.5
4            10.5  10.5  10.5   3454.5
5             4.3   4.3   4.3     64.5

Let's see the names of these products

In [60]:
product_name_sales = df_data_merged_PII.groupby('product_name').agg({'prices': ['min','max','mean','sum']})

In [61]:
product_name_sales.head()

                                prices
                                   min   max  mean     sum
product_name
#2 Coffee Filters                 11.0  11.0  11.0  8547.0
#2 Cone White Coffee Filters       5.7   5.7   5.7    74.1
#2 Mechanical Pencils              9.2   9.2   9.2    73.6
#4 Natural Brown Coffee Filters    2.5   2.5   2.5   602.5
#NAME?                             3.6   3.6   3.6   104.4

Let's export this dataframe so that we can edit it and sort it. I'm unsure how to sort by columns in an aggregated table.

In [62]:
#Importing the edited dataframe
top_selling = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'top_product_sellers.csv'))

In [63]:
#sorting the dataframe
top_selling_sorted = top_selling.sort_values(by='sum', ascending=False)

In [64]:
#Displaying it
top_selling_sorted.head(10)

                   product_name   min   max  mean        sum
3674                     Banana  12.3  12.3  12.3  5812549.5
3469     Bag of Organic Bananas  10.3  10.3  10.3  3908335.0
22405               Large Lemon  14.0  14.0  14.0  2137198.0
23412                     Limes  14.7  14.7  14.7  2067216.9
28830      Organic Baby Spinach   8.2   8.2   8.2  1983752.2
31910      Organic Strawberries   7.3   7.3   7.3  1932185.9
32467        Organic Whole Milk  12.8  12.8  12.8  1765184.0
11626            Cucumber Kirby  13.2  13.2  13.2  1284558.0
2626   Apple Honeycrisp Organic  14.1  14.1  14.1  1198782.0
29593          Organic Cucumber  14.3  14.3  14.3  1149605.6

In [65]:
# Saving this to a dataframe
top_10_selling_items = top_selling_sorted.head(10)

Now that I have the top 10 products ordered from Instacart I should take these and add a popularity_flag to see how many items ordered make up the top 10 products. This will give Instacart's marketing team a chance to further understand how they can market to customers to increase sales.

In [66]:
# Creating a list of the top 10 most popular products
top_product_list = ['Banana', 'Bag of Organic Bananas', 'Large Lemon', 'Limes', 'Organic Baby Spinach', 'Organic Strawberries', 'Organic Whole Milk', 'Cucumber Kirby', 'Apple Honeycrisp Organic','Organic Cucumber']

In [67]:
# Write for loop to flag all top selling items.

result_top = []

for value in df_data_merged_PII['product_name']:
    if value in top_product_list:
        result_top.append('Top 10 selling product')
    else:
        result_top.append('Other Products')

In [68]:
# Testing it
result_top

['Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Top 10 selling product',
 'Top 10 selling product',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Top 10 selling product',
 'Top 10 selling product',
 'Top 10 selling product',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Top 10 selling product',
 'Other Products',
 'Other Products',
 'Top 10 selling product',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Top 10 selling product',
 'Top 10 selling product',
 'Top 10 selling product',
 'Top 10 selling product',
 'Top 10 selling product',
 'Top 10 selling product',
 'Top 10 selling product',
 'Top 10 selling product',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 'Other Products',
 ...]

In [69]:
# Create a new column in the dataframe
df_data_merged_PII['selling_performance'] = result_top

In [70]:
# Check results
df_data_merged_PII['selling_performance'].value_counts()

Other Products            30347197
Top 10 selling product     2052535
Name: selling_performance, dtype: int64

In [71]:
# Create a subset of the data with only top 10 products
top_10_selling_items_2 = df_data_merged_PII[df_data_merged_PII['selling_performance']=='Top 10 selling product']

## Going to export my file now since the worksheet is getting sluggish

In [74]:
# Exporting latest dataframe
df_data_merged_PII.to_pickle(os.path.join(path,'02 Data','Prepared Data','4.10_Data_Merged_A.pkl'))

In [75]:
# Exporting top 10 selling items 2 dataframe
top_10_selling_items_2.to_pickle(os.path.join(path,'02 Data','Prepared Data','top_10_selling_items.pkl'))